asgiref==3.7.2
certifi==2023.5.7
distlib==0.3.6
Django==4.2.3
djangorestframework==3.14.0
djangorestframework-gis==1.0
filelock==3.12.2
gunicorn==21.2.0
packaging==23.1
pipenv==2023.7.3
platformdirs==3.8.0
psycopg2-binary==2.9.6
PyJWT==2.8.0
python-dotenv==1.0.0
pytz==2023.3
sqlparse==0.4.4
tzdata==2023.3
virtualenv==20.23.1
virtualenv-clone==0.5.7
whitenoise==6.5.0